#flare-bust {
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 50px;
    object-fit: cover;
}

.social-icon {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.social-link {
    text-decoration: none;
}

.title-container {
    margin-left: 5%;
}

.title-text {
    font-size: 72px;
    color: rgb(255, 145, 72);
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.title-text-span {
    font-size: 20px;
    margin-left: 8px;
}

.footnote-text {
    font-size: 12px;
    text-align: right;
}
