.box-container {
    background-color: rgb(250, 168, 114);
    width: 100%;
    height: 70x;
    border-bottom: 2px solid rgb(250, 150, 83);
}

#header-icon {
    font-size: 18px;
    margin: 18px 50px;
}

.navigation {
    text-align: right;
    margin: auto;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 17px 35px;
}

.navigation a:hover {
    background-color: rgb(250, 150, 83);
}

.navigation a:active {
    background-color: rgb(255, 138, 60);
}
